# ---- bbSlit.rc ----

# slit window properties
#bbSlit.placement: CenterRight
bbSlit.position.x: 1680
bbSlit.position.y: 525
bbSlit.direction: vertical

bbSlit.alwaysOnTop: false
bbSlit.autoHide: false
bbSlit.autoRaise: true
bbSlit.pluginToggle: true
bbSlit.snapToEdge: true
bbSlit.snapWindow: true
bbSlit.alpha.enabled: false
bbSlit.alpha.value: 192
bbSlit.puzzle: true
bbSlit.alignment: 2
bbSlit.basewidth: 50
bbSlit.clickRaise: true
bbSlit.setMargin: false
bbSlit.placement: CenterRight
bbSlit.useSlit: false
bbSlit.orientation: vertical
bbSlit.2.placement: CenterRight
bbSlit.2.position.x: 1680
bbSlit.2.position.y: 525
bbSlit.2.useSlit: false
bbSlit.2.alwaysOnTop: false
bbSlit.2.autoHide: false
bbSlit.2.clickRaise: true
bbSlit.2.snapWindow: true
bbSlit.2.pluginToggle: true
bbSlit.2.alpha.enabled: false
bbSlit.2.alpha.value: 192
bbSlit.2.orientation: vertical
